$body-font-family: 'Souvenir', sans-serif;
$body-background-color: #FFFFF0;
$body-text-color: #000000;       
$body-heading-color: #C6846D;   
$sidebar-color: #DED09F; 
$code-background-color: #F5F5DC; // Чуть темнее для контраста (цвет "беж")
$link-color: #00008B;
