@font-face {
  font-family: "Souvenir";
  src: url("/rules/assets/fonts/Souvenir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$body-font-family: "Souvenir", serif;
